$color: #009688;
$bg: #FFF;

html, body {
    margin: 0;
    font-family: monospace;
    background: #FAFAFA;
    height: 100%;
}

* {
	box-sizing: border-box;
}

@import '../../src/slider-carousel/slider-carousel.scss';
@include slider-carousel($color, $bg);